mixin main-nav()
  nav.main-nav
    button.main-nav__btn-menu(type="button", aria-label="Показать/скрыть меню")
      +icon("icon_burger", 22, 14)
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href="/")
          span.main-nav__item-text Главная
      li.main-nav__item
        a.main-nav__link.main-nav__link--dropdown(href="#")
          span.main-nav__item-text Основное меню
          +icon("icon_drop", 9, 9).main-nav__icon
        ul.main-nav__inner-list
          li.main-nav__item
            a.main-nav__link(href="#")
              span.main-nav__item-text Заказать вёрстку
          li.main-nav__item
            a.main-nav__link(href="#")
              span.main-nav__item-text Отправить макет на проверку
          li.main-nav__item
            a.main-nav__link(href="#")
              span.main-nav__item-text Хочу работать у вас
          li.main-nav__item
            a.main-nav__link.main-nav__link--dropdown(href="#")
              span.main-nav__item-text Есть предложение по работе с клиентами
              +icon("icon_drop", 9, 9).main-nav__icon
            ul.main-nav__inner-list
              li.main-nav__item
                a.main-nav__link(href="#")
                  span.main-nav__item-text У меня есть оффер
              li.main-nav__item
                a.main-nav__link(href="#")
                  span.main-nav__item-text Сделать партнёром
      li.main-nav__item
        a.main-nav__link(href="#")
          span.main-nav__item-text Наши сервисы
      li.main-nav__item
        a.main-nav__link(href="#")
          span.main-nav__item-text Контакты
