@use '../mixins';

@use '../variables';

.header {
  position: relative;
  padding: 16px 0;
  background-color: variables.$color-black-main;
  box-shadow: 0 4px 4px 0 rgb(19 20 23 / 40%);
  z-index: 100;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 112px;

    @include mixins.vp-1023 {
      gap: 20px;
    }

    @include mixins.vp-767 {
      gap: 10px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.shrink-zero;

    transition: variables.$transition-opacity;

    @include mixins.hover {
      opacity: 0.6;
    }

    @include mixins.focus-visible {
      opacity: 0.6;
      outline: 2px solid variables.$color-kelly-green;
      outline-offset: 2px;
    }
  }

  &__logo-icon {
    width: 100%;
    height: 100%;
    max-width: 46px;
    max-height: 46px;

    @include mixins.shrink-zero;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: variables.$transition-opacity;

    @include mixins.hover {
      opacity: 0.6;
    }

    @include mixins.focus-visible {
      opacity: 0.6;
      outline: 2px solid variables.$color-kelly-green;
      outline-offset: 2px;
    }

    @include mixins.vp-767 {
      margin-left: auto;
    }
  }

  &__phone-link {

    @include mixins.vp-767 {

      @include mixins.visually-hidden;
    }
  }

  &__phone-icon {

    @include mixins.shrink-zero;

    color: variables.$color-kelly-green;
  }
}
