@use "../mixins";

@use "../variables";

.nested-submenu {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate3d(calc(100% + 22px), 0, 0);

  margin: 0;
  padding: 0;
  list-style: none;

  border-radius: variables.$border-radius;

  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate3d(calc(-100% + 1px), calc(-100% - 6px), 0);

    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 14px solid variables.$color-black-secondary;
  }

  @include mixins.vp-1023 {
    position: static;
    display: flex;
    flex-direction: column;
    transform: none;

    width: 100%;

    &::before {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 7px 17px 7px 14px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);

    background-color: variables.$color-black-secondary;
    transition: background-color variables.$trans-default;

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 variables.$border-radius variables.$border-radius;
    }

    &:first-child {
      border-radius: variables.$border-radius variables.$border-radius 0 0;
    }

    @include mixins.hover {
      background-color: variables.$color-black-main;
    }

    @include mixins.vp-1023 {

      &:first-child,
      &:last-child {
        padding: 0;
        border-radius: 0;
      }
    }
  }

  &__link {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    color: inherit;
    color: variables.$color-snow;
    white-space: nowrap;
  }
}
