//- &nbsp; = \u00a0
//- &mdash; = \u2014
//- &laquo; = \u00ab
//- &raquo; = \u00bb
//- &#8470; = \u2116

extends ../../components/base/layout.pug

block variables
  - const title = "Alpaca";
  - const currentUrl = "index.html";

block main

  block scripts
    script(src="/ts/main.ts", type="module")
