extends ../../components/base/layout.pug

block variables
  - const title = "Alpaca";
  - const currentUrl = "index.html";

block main
  .main
    .main__background
      +picture("content", "alpaca", "jpg", "100%", "100%", "")

  block scripts
    script(src="/ts/main.ts", type="module")
